@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
}
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #050505;
  display: flex;
  flex-direction: row;
}
* {
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
}
section {
  width: 33.33%;
  height: 100%;
  padding: 40px 0 60px 0;
}
.img-bg {
  background-size: cover;
}
.img-bg-one {
  background-image: url("img/img-bg-resgen-01.jpg");
}
.img-bg-two {
  background-image: url("img/img-bg-resgen-02.jpg");
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-logo {
  width: 68%;
  max-width: 460px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.text {
  width: 60%;
  max-width: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: .9rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  border-top: 2px solid #ffcc18;
  border-bottom: 2px solid #ffcc18;
  padding: 1rem 0;
  margin: 2rem 0;
  p {
    margin: .4rem 0;
  }
}
.social {
  width: 65%;
  max-width: 400px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  a {
    color: #ffcc18;
    margin: 6px 12px;
    &:hover {
      color: #fff;
      transform: scale(1.1);
    }
  }
  i {
    font-size: 26px;
    padding: 4px;
  }
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: .68rem;
  line-height: 1rem;
  a {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  img {
    height: 22px;
  }
  p {
    color: #028e94;
  }
}

@media screen and (max-width: 768px) {
  section {
    width: 100%;
  }
  .img-bg-one {
    display: none
  }
  .img-bg-two {
    display: none
  }
  .img-logo {
    width: 338px;
  }
  .text {
    width: 300px;
  }
  .social {
    width: 300px;
  }
  i {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 460px) {
  .img-logo {
    width: 226px;
  }
  .text {
    width: 200px;
    font-size: .8rem;
    line-height: 1.2rem;
    margin: 1rem 0;
  }
  .social {
    width: 200px;
  }
  footer {
    font-size: .6rem;
  }
}
